#roomSettingContainer {
	/* background-color: blueviolet; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 70%;
}

.selectionGroup {
	/* background-color: blue; */
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	transition: margin 0.5s;
}
.selectionGroupBottomMargin {
	margin-bottom: 6%;
}
.selectionGroup:nth-of-type(1) { /* 제목 선택 그룹 */
	height: 15%;
}
.selectionGroup:nth-of-type(2) { /* 모드 선택 그룹 */
	height: 37%;
}
.selectionGroup:nth-of-type(3).visible { /* 인원 선택 그룹 */
	height: 17%;
}

.selectionLabel {
	/* background-color: yellowgreen; */
	width: 15%;
	font-size: 3rem;
	font-weight: 800;
}

.selectionBox {
	/* background-color: brown; */
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#titleInput {
	width: 80%;
	height: 80%;
	background-color: rgb(1, 4, 37);
	border: 0.15rem solid white;
	border-radius: 50px;
	color: white;
	font-size: 1.7rem;
	padding: 0 3%;
}

input[type="radio"] {
	display: none;
}

.modeButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1/1;
	margin-right: 5.5%;
	border: 0.15rem solid white;
	border-radius: 18%;
	font-size: 1.2rem;
	font-weight: 500;
}
.modeButton:hover, #humanCountButtonGroup .countButton:hover {
	cursor: pointer;
}
.modeButton:hover, .countButton:hover,
input[type="radio"]:checked + .modeButton, input[type="radio"]:checked + .countButton {
	background-color: rgb(213, 112, 255);
	border: 0.15rem solid rgb(213, 112, 255);
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	transition-property: background-color, border, box-shadow;
	transition-duration: 0.5s;
}

.countSelectionBox {
	height: 100%;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.countSelectionBox .teamText {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 10%;
}

#vampireCountButton, #humanCountButton {
	height: 50%;
	width: 100%;
	border: 0.1rem solid white;
	color: white;
	background-color: rgb(1, 4, 37);
	border-radius: 15px;
	font-size: 2rem;
	font-weight: 600;
}
#humanCountButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgb(213, 112, 255);
	border: 0.1rem solid rgb(213, 112, 255);
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}
#humanCountButton img {
	height: 50%;
	aspect-ratio: 2/3;
	position: absolute;
	right: 8%;
	transition: transform 0.5s;
}
.selectedArrowImg {
	transform: rotate(180deg);
}
#humanCountButton:hover {
	cursor: pointer;
}

#humanCountOptionBox.visible {
	width: 9%;
	height: 130%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 1%;
	margin-top: 12%;
	padding: 0.3%;
	background-color: rgb(1, 4, 37);
	border: 0.1rem solid white;
	border-radius: 15px;
	transition-duration: 0.5s;
}

#humanCountOptionBox.visible li {
	width: 100%;
	height: 24%;
}

#humanCountOptionBox.visible .humanCountOptionButton {
	width: 100%;
	height: 100%;
	background-color: rgb(1, 4, 37);
	color: white;
	border-radius: 10px;
	font-size: 1.25rem;
	font-weight: 300;
}
#humanCountOptionBox.visible .humanCountOptionButton:hover {
	background-color: rgb(234, 183, 255);
	color: rgb(1, 4, 37);
	transition: background-color 0.1s;
}

#vsText {
	font-size: 3rem;
	font-weight: 800;
	margin: 0 8%;
}

#completeButton {
	width: 15%;
	position: absolute;
	bottom: 9%;
	right: 6%;
	padding: 1% 1.5%;
	aspect-ratio: 4/1;
}

@media (orientation: portrait) {
	#roomSettingContainer {
		/* margin-top: 10%; */
		height: auto;
	}
	.selectionGroup {
		flex-direction: column;
		margin-bottom: 11%;
	}
	.selectionGroup:nth-of-type(1) { /* 제목 선택 그룹 */
		height: auto;
	}
	.selectionGroup:nth-of-type(2) { /* 모드 선택 그룹 */
		height: auto;
	}
	.selectionGroup:nth-of-type(3).visible { /* 인원 선택 그룹 */
		height: auto;
	}
	.selectionLabel {
		width: auto;
		margin-bottom: 5%;
	}
	.selectionBox {
		height: auto;
		width: 100%;
		justify-content: center;
	}
	#titleInput {
		width: 100%;
		aspect-ratio: 9/1;
		padding: 0 6%;
	}
	.modeButton {
		width: 28%;
		margin: 0%;
	}
	.modeButton:nth-of-type(2) {
		margin: 0 7%;
	}
	.countSelectionBox {
		width: 22%;
		height: auto;
	}
	#vampireCountButton, #humanCountButton {
		width: 100%;
		aspect-ratio: 2.2/1;
	}
	#humanCountOptionBox.visible {
		width: 9%;
		height: 130%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 1%;
		margin-top: 12%;
		padding: 0.3%;
		background-color: rgb(1, 4, 37);
		border: 0.1rem solid white;
		border-radius: 15px;
		transition-duration: 0.5s;
	}
	#vsText {
		margin: 0 12%;
	}
	#completeButton {
		bottom: 7%;
		left: 50%;
		transform: translateX(-50%);
		width: 30%;
	}
}

@media (max-width: 1700px) and (orientation: landscape) {
	.selectionLabel {
		width: 16%;
	}
	.selectionGroup:nth-of-type(1) { /* 제목 선택 그룹 */
		height: 14%;
	}
	.selectionGroup:nth-of-type(2) { /* 모드 선택 그룹 */
		height: 35%;
	}
}
@media (max-width: 1500px) and (orientation: landscape) {
	.selectionLabel {
		width: 18%;
	}
	.selectionGroup:nth-of-type(1) { /* 제목 선택 그룹 */
		height: 13.5%;
	}
	.selectionGroup:nth-of-type(2) { /* 모드 선택 그룹 */
		height: 30%;
	}
}
@media (max-width: 1350px) and (orientation: landscape) {
	.selectionLabel {
		width: 20%;
	}
	.selectionGroup:nth-of-type(1) { /* 제목 선택 그룹 */
		height: 13%;
	}
	.selectionGroup:nth-of-type(2) { /* 모드 선택 그룹 */
		height: 25%;
	}
}
@media (max-width: 1150px) and (orientation: landscape) {
	.selectionLabel {
		width: 25%;
	}
	.selectionGroup:nth-of-type(1) { /* 제목 선택 그룹 */
		height: 12%;
	}
	.selectionGroup:nth-of-type(2) { /* 모드 선택 그룹 */
		height: 20%;
	}
}