#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#roomSettingContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
}

.selectionGroup {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	transition-duration: 0.5s;
}
.selectionGroupBottomMargin {
	margin-bottom: 8%;
}

.selectionLabel {
	width: 20%;
	font-size: 3rem;
	font-weight: 800;
}

.selectionBox {
	display: flex;
	flex-direction: row;
	width: 80%;
}

#titleInput {
	width: 80%;
	background-color: rgb(1, 4, 37);
	border: 0.15rem solid white;
	border-radius: 50px;
	color: white;
	font-size: 1.5rem;
	padding: 2% 3%;
}

input[type="radio"] {
	display: none;
}

.modeButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22%;
	aspect-ratio: 1/1.05;
	margin-right: 5.5%;
	border: 0.15rem solid white;
	border-radius: 18%;
	font-size: 1.2rem;
	font-weight: 500;
}
.modeButton:hover, #humanCountButtonGroup .countButton:hover {
	cursor: pointer;
}
.modeButton:hover, .countButton:hover,
input[type="radio"]:checked + .modeButton, input[type="radio"]:checked + .countButton {
	background-color: rgb(213, 112, 255);
	border: 0.15rem solid rgb(213, 112, 255);
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	transition-property: background-color, border, box-shadow;
	transition-duration: 0.5s;
}

.countButtonGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 1.5%;
}
#humanCountButtonGroup {
	width: 30%;
}
#vampireCounButtonGroup {
	width: 4.5%;
}

.countButton {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	border: 0.15rem solid white;
	border-radius: 50%;
	font-size: 1.6rem;
	font-weight: 500;
}
#humanCountButtonGroup .countButton{
	width: 15%;
}
#vampireCounButtonGroup .countButton {
	width: 100%;
}

#vsText {
	margin-left: 4%;
	margin-right: 6%;
	font-size: 3rem;
	font-weight: 800;
}

.countText {
	align-self: end;
	font-size: 1.5rem;
	font-weight: 600;
}

#completeButton {
	width: 15%;
	position: absolute;
	bottom: 9%;
	right: 6%;
	padding: 1% 1.5%;
	aspect-ratio: 4/1;
}

@media (orientation: portrait) {
	#roomSettingContainer {
		height: 80%;
		width: 100%;
	}
	.selectionGroup {
		flex-direction: column;
		margin-top: 5% 0;
	}
	.selectionLabel {
		margin: 0 0 4%;
		width: auto;
	}
	.selectionBox {
		justify-content: center;
	}
	.modeButton {
		margin: 0 2.5%;
		width: 24%;
	}
	#titleInput {
		padding: 3% 3%;
	}
	#completeButton {
		width: 30%;
		position: absolute;
		position: static;
		bottom: 6%;
		right: 9%;
		padding: 1% 1.5%;
		aspect-ratio: 4/1;
	}
}