#container {
	position: relative;
	height: 55%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2%;
}

.inputContainer {
	position: relative;
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.label {
	position: absolute;
	right: 108%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 2rem;
	font-weight: 800;
}

.input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 3rem;
	background-color: rgb(1, 4, 37);
	border: 0.1rem solid white;
	padding: 0 5%;
	color: white;
	font-size: 1.7rem;
}

.warning {
	position: absolute;
	top: 120%;
	width: 150%;
	text-align: center;
	color: red;
	font-size: 1rem;
}

#signupButton {
	position: absolute;
	bottom: 8%;
	padding: 1% 3.5%;
}
#signupButton.generalButton:hover {
	background-color: rgb(213, 112, 255);
	border-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
}

@media (orientation: portrait) {
	#container {
		height: 60%;
		width: 55%;
	}
	.inputContainer  {
		height: 10%;
	}
	.label {
		right: 0%;
		bottom: 100%;
		justify-content: center;
		width: 100%;
	}
	#signupButton {
		padding: 2% 5%;
	}
	.warning {
		top: 130%;
	}
}

@media (orientation: landscape) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1.5/1) {
	#container {
		height: 50%;
		margin-left: 2%;
	}
}

@media (orientation: portrait) and (max-aspect-ratio: 1/1.5) {
	#container {
		height: 55%;
		width: 65%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/2) {
	#container {
		width: 70%;
	}
}