/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, button,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 1.6vh;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Inter", sans-serif;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(1, 4, 37);
	color: white;
}

#chat {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: transparent;
}

.generalButton {
	font-size: 2rem;
	font-weight: 700;
	border-radius: 30rem;
	background-color: rgb(1, 4, 37);
	border: 0.14rem solid white;
	color: white;
}
.generalButton:hover {
	cursor: pointer;
}

.activatedButton {
	font-size: 2rem;
	font-weight: 700;
	border-radius: 30rem;
	background-color: rgb(213, 112, 255);
	border: 0.14rem solid rgb(213, 112, 255);
	color: rgb(1, 4, 37);
}
.activatedButton:hover {
	cursor: pointer;
}

.disabledButton {
	font-size: 2rem;
	font-weight: 700;
	border-radius: 30rem;
	background-color: rgb(190, 190, 190);
	border: 0.14rem solid rgb(190, 190, 190);
	color: rgb(130, 130, 130);
}

.exitButton {
	width: 3%;
	aspect-ratio: 1/1;
	position: absolute;
	top: 3%;
	left: 2%;
	background: url("../images/exitImg.png") center/cover;
}
.exitButton:hover {
	cursor: pointer;
}

.invisible {
	position: absolute;
	height: 0%;
	width: 0%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

.visible {
	position: static;
	height: auto;
	width: auto;
	opacity: 1;
	visibility: visible;
}

.questionModal {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.questionModal .questionBox {
	width: 80%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: 900;
}

.questionModal .question {
	padding-bottom: 1.5%;
	text-align: center;
	line-height: 1.5;
}

.questionModal .title {
	padding-bottom: 1%;
	text-align: center;
	font-weight: 400;
	font-size: 2rem;
}

.questionModal .buttonGroup {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1.5%;
}

.questionModal .buttonGroup button {
	width: 45%;
	padding: 2.5% 2.5%;
}

.notiWindow {
	display: none;
	/* display: flex; */
	position: absolute;
	z-index: 1;
	width: 20%;
	aspect-ratio: 2/1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: rgb(1, 4, 37);
	border-radius: 1rem;
}
.infomation {
	font-size: 1.6rem;
	font-weight: 600;
	padding-bottom: 20%;
}
.confirmButton {
	position: absolute;
	bottom: 10%;
	left: 5%;
	right: 5%;
	aspect-ratio: 5.5/1;
	background-color: rgb(1, 4, 37);
	color: white;
	font-size: 1.4rem;
	font-weight: 500;
	border-radius: 1rem;
}
.confirmButton:hover {
	background-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
	font-weight: 700;
}

@media (orientation: portrait) {
	.exitButton {
		top: 2%;
		left: 3%;
	}
}