.abilitySelectionModal {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.abilityContainer {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.abilitySubContainer {
	width: 47.5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.abilityItem {
	width: 44.75%;
	display: flex;
	flex-direction: column;
	background-color: transparent;
}

.abilityName {
	width: 100%;
	aspect-ratio: 4/1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(1, 4, 37);
	color: rgb(128, 129, 146);
	border: 0.1rem solid rgb(128, 129, 146);
	box-sizing: border-box;
	font-size: 2.4rem;
	font-weight: 800;
}
.abilityItem:hover .abilityName {
	color: white;
	border-color: white;
	transition-property: color, border-color;
	transition-duration: 0.2s;
}

.abilityImgFrame {
	width: 100%;
	aspect-ratio: 1.1/1;
	border-left: 0.1rem solid rgb(128, 129, 146);
	border-right: 0.1rem solid rgb(128, 129, 146);
	border-bottom: 0.1rem solid rgb(128, 129, 146);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	box-sizing: border-box;
	margin-bottom: 10%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.abilityItem:hover .abilityImgFrame {
	border-color: white;
	transition-property: border-color;
	transition-duration: 0.2s;
}

.abilityImg {
	width: 100%;
}

.abilityDescription {
	width: 100%;
	aspect-ratio: 2/1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12% 8%;
	background-color: rgb(1, 4, 37);
	color: rgb(128, 129, 146);
	border: 0.1rem solid rgb(128, 129, 146);
	border-radius: 1.5rem;
	box-sizing: border-box;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 2rem;
	text-align: center;
	overflow: hidden;
}
.abilityItem:hover .abilityDescription {
	color: white;
	border-color: white;
	transition-property: color, border-color;
	transition-duration: 0.2s;
}

@media (orientation: portrait) {
	.abilityContainer {
		flex-direction: column;
	}
	.abilitySubContainer {
		width: 100%;
		margin: 5% 0;
	}
}
@media (orientation: portrait) and (min-aspect-ratio: 1/1.1) and (max-aspect-ratio: 1/1) {
	.abilityContainer {
		width: 50%;
	}
	.abilityName {
		font-size: 1.6rem;
	}
	.abilityDescription {
		font-size: 1.2rem;
		line-height: 1.7rem;
	}
}
@media (orientation: portrait) and (min-aspect-ratio: 1/1.2) and (max-aspect-ratio: 1/1.1) {
	.abilityContainer {
		width: 55%;
	}
}
@media (orientation: portrait) and (min-aspect-ratio: 1/1.5) and (max-aspect-ratio: 1/1.2) {
	.abilityContainer {
		width: 60%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.5) {
	.abilityContainer {
		width: 70%;
	}
}

@media (orientation: landscape) and (max-width: 1350px) and (max-aspect-ratio: 1.6/1) {
	.abilityName {
		font-size: 1.8rem;
	}
	.abilityDescription {
		aspect-ratio: 1.6/1;
		font-size: 1.1rem;
		line-height: 1.6rem;
	}
}
@media (orientation: landscape) and (max-width: 1150px) and (max-aspect-ratio: 1.5/1) {
	.abilityName {
		font-size: 1.8rem;
	}
	.abilityDescription {
		aspect-ratio: 1.4/1;
		line-height: 1.5rem;
	}
}
@media (orientation: landscape) and (max-width: 1100px) and (max-aspect-ratio: 1.4/1) {
	.abilityName {
		font-size: 1.5rem;
	}
	.abilityDescription {
		aspect-ratio: 1.2/1;
		line-height: 1.4rem;
	}
}
