#container {
	height: 88%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#header {
	height: 17%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#title {
	height: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 4rem;
	font-weight: 800;
}

#mode {
	height: 20%;
	padding: 2.5% 6%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 200;
	border: 0.1rem solid white;
	border-radius: 2rem;
}

#panel {
	height: 68%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#vsText {
	width: 20%;
	margin-top: 8%;
	font-size: 5rem;
	font-weight: 600;
}

.teamPanel {
	height: 100%;
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.teamPanel:first-of-type {
	align-items: flex-end;
}
.teamPanel:last-of-type {
	align-items: flex-start;
}

.status {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 3%;
}
.teamPanel:last-of-type .status {
	flex-direction: row-reverse;
}

.teamIcon {
	width: 15%;
	aspect-ratio: 1/1;
}
.teamIcon.vampireIcon {
	filter: drop-shadow(0px 0px 10px rgb(255, 37, 0));
}
.teamIcon.humanIcon {
	filter: drop-shadow(0px 0px 10px rgb(63, 142, 239));
}

.readyText {
	position: relative;
	flex-grow: 1;
	height: 100%;
	font-size: 3rem;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgb(1, 4, 37);
	z-index: 0;
}
.readyStroke {
	position: absolute;
	z-index: -1;
	-webkit-text-stroke: 0.2rem rgba(255, 255, 255, 0.3);
}
.readyStroke.on {
	-webkit-text-stroke: 0.2rem white;
	filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.5));
}

.info {
	width: 85%;
	aspect-ratio: 1/1.1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nameContainer {
	width: 100%;
	height: 16%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
	background-color: rgb(213, 112, 255);
	border-radius: 1.5rem;
}
.name {
	padding: 0 10%;
	font-size: 2.5rem;
	font-weight: 800;
	color: rgb(1, 4, 37);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.avatar {
	position: relative;
	width: 100%;
	height: 80%;
}

.abilityButton {
	position: absolute;
	bottom: 0%;
	height: 40%;
	aspect-ratio: 1/1;
	border-radius: 1.5rem;
	letter-spacing: 0.2rem;
	line-height: 2.5rem;
	overflow: hidden;
}
.teamPanel:first-of-type .abilityButton {
	right: 108%;
}
.teamPanel:last-of-type .abilityButton {
	left: 108%;
}
.abilityButton:hover {
	background-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
	border: 0.14rem;
	transition-property: background-color, color, border;
	transition-duration: 0.2s;
}
.abilityButton .abilityImgFrame {
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 0;
}

.avatarImgFrame {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	border-radius: 1.5rem;
	border: 0.12rem solid rgb(213, 112, 255);
	box-sizing: border-box;
	background: linear-gradient(to bottom, rgb(50, 26, 81), rgb(2, 4, 31));
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}
.avatarImgFrame.emptyFrame {
	align-items: center;
}

.avatarImg {
	width: 90%;
	filter: blur(2px);
	opacity: 50%;
}
.avatarImg.on {
	filter: blur(0px);
	opacity: 100%;
}

.listItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 19%;
}
.listItem .avatarImgFrame {
	position: relative;
	height: 100%;
	width: 24%;
	border-radius: 0.7rem;
	overflow: hidden;
}
.listItem .avatarImg {
	width: 87%;
}
.listItem .listName {
	height: auto;
	width: 60%;
	padding-right: 7%;
	font-size: 2rem;
	font-weight: 700;
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.listItem.me {
	background-color: rgb(213, 112, 255);
	border-radius: 1rem;
}
.listItem.me .listName {
	color: rgb(1, 4, 37);
}

.avatarQuestionMark {
	font-size: 1.8rem;
	font-weight: 500;
	color: rgb(213, 112, 255);
}

.diagonal-1, .diagonal-2 {
	position: absolute;
	top: 50%;
	width: 130%;
	height: 0.12rem;
	background-color: rgb(213, 112, 255);
}
.diagonal-1 {
	transform: rotate(40deg);
}
.diagonal-2 {
	transform: rotate(-40deg);
}

#readyButton {
	font-weight: 600;
	font-size: 2.2rem;
	padding: 1.2% 5%;
}
#readyButton:hover {
	cursor: pointer;
	background-color: rgb(213, 112, 255);
	border-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
	transition-property: background-color, border-color, color, filter;
	transition-duration: 0.2s;
}

@media (orientation: portrait) {
	#header {
		height: 12%;
	}
	#title {
		font-size: 3rem;
	}
	#mode {
		font-size: 1.1rem;
		padding: 1.6% 6%;
	}
	#panel {
		height: 75%;
		flex-direction: column;
		/* margin-bottom: 0; */
	}
	#vsText {
		margin: 4% 0;
		font-size: 2.8rem;
	}
	.teamPanel {
		position: relative;
		width: 35%;
		height: auto;
	}
	.teamPanel:first-of-type {
		align-items: center;
	}
	.teamPanel:last-of-type {
		align-items: center;
	}
	.teamPanel:last-of-type .status {
		flex-direction: row;
	}
	.status {
		position: absolute;
		top: 0%;
		right: 15%;
		height: auto;
	}
	.info {
		height: 100%;
	}
	.name {
		font-size: 1.6rem;
		font-weight: 700;
	}
	.avatar {
		width: 100%;
	}
	.abilityButton {
		font-size: 1.3rem;
		line-height: 1.5rem;
		letter-spacing: 0.1rem;
	}
	.teamPanel:first-of-type .abilityButton {
		left: 108%;
	}
}
@media (orientation: portrait) and (max-width: 750px) {
	.teamPanel {
		width: 50%;
	}
}
@media (orientation: portrait) and (max-width: 600px) {
	.teamPanel {
		width: 50%;
	}
}
@media (orientation: portrait) and (max-width: 450px) {
	.teamPanel {
		width: 65%;
	}
	#vsText {
		margin: 5% 0;
	}
}

@media (orientation: landscape) and (max-width: 1500px) {
	#container {
		width: 85%;
	}
	.abilityButton {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}
}
@media (orientation: landscape) and (max-width: 1350px) {
	#container {
		height: 82%;
		width: 90%;
	}
	.abilityButton {
		font-size: 1.7rem;
		line-height: 2rem;
	}
}
@media (orientation: landscape) and (max-width: 1150px){
	#container {
		height: 80%;
	}
	.status {
		margin-bottom: 6%;
	}
	#panel {
		height: 60%;
	}
	.abilityButton {
		font-size: 1.6rem;
		line-height: 1.7rem;
		border-radius: 1rem;
	}
}

@media (orientation: landscape) and (max-height: 600px) {
	.teamPanel {
		width: 28%;
	}
}
@media (orientation: landscape) and (max-height: 500px) {
	#container {
		height: 90%;
	}
	.teamPanel {
		width: 25%;
	}
	.abilityButton {
		font-size: 2.2rem;
		line-height: 2.4rem;
		border-radius: 1.5rem;
	}
}