html {
	position: static;
	overflow: visible;
}

#container {
	height: 78%;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#graphLineCanvas,
#graphCircleCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#mainInfoContainer {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: row;
}

#mainPanel,
#wordPanel {
	height: 100%;
	width: 50%;
	border-color: white;
	border-style: solid;
	border-width: 0.1rem;
}

#mainPanel {
	border-right-width: 0;
	border-radius: 1.5rem 0 0 1.5rem;
}

#wordPanel {
	border-radius: 0 1.5rem 1.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background: linear-gradient(#010425, #370F26);
}

#wordTitle {
	height: 25%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.1rem;
	font-weight: 200;
}

#word {
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2%;
	font-size: 2.4rem;
	font-weight: 500;
}

#subInfoContainer {
	height: 72%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#scoreGraphContainer,
#hitMapContainer {
	height: 100%;
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.label {
	height: 12%;
	font-size: 2.5rem;
	font-weight: 600;
}

#scorePanel,
#hitMapPanel {
	height: 88%;
	width: 100%;
	border: 0.1rem solid white;
	border-radius: 1.5rem;
}

#hitMapPanel {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#scorePanel {
	display: flex;
	justify-content: center;
	align-items: center;
}

#graphContainer {
	position: relative;
	height: 72%;
	width: 76%;
	border-left: 0.1rem solid white;
	border-bottom: 0.1rem solid white;
	margin: 0 0 1% 1%;
}

#xLabels,
#yLabels {
	position: absolute;
	display: flex;
	justify-content: space-between;
}

#xLabels {
	top: 105%;
	left: 0%;
	flex-direction: row;
	width: 100%;
}

#yLabels {
	top: 0%;
	right: 104%;
	flex-direction: column-reverse;
	justify-content: space-between;
	height: 100%;
}

.circleButton {
	position: absolute;
	width: 0.75%;
	aspect-ratio: 1/1;
	transform: translate(-50%, -50%);
	border-radius: 3rem;
	background-color: white;
}
.circleButton:hover {
	background-color: rgb(213, 112, 255);
	transition: background-color 0.1s, box-shadow 0.1s;
	box-shadow: 0 0 10px 5px rgba(213, 112, 255, 0.5);
}

.subBoard {
	width: 50%;
	height: 100%;
}

.subBoard:nth-of-type(1) {
	border-right: 0.05rem solid white;
}

.subBoard:nth-of-type(2) {
	border-left: 0.05rem solid white;
}

#hitMapPanel .paddleBall {
	height: auto;
	width: 3%;
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: 50%;
	background-color: white;
}

#hitMapPanel .scoreBall {
	height: auto;
	width: 3%;
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: 50%;
	background-color: rgb(213, 112, 255);
}

.exitButton {
	z-index: 100;
}

@media (min-aspect-ratio: 2/1) {
	.matchScoreContainer {
		height: 52%;
		width: 15%;
	}
}

@media (max-aspect-ratio: 1.8/1) {
	.circleButton {
		width: 0.9%;
	}
}

@media (max-aspect-ratio: 1.6/1) {
	.matchScoreContainer {
		width: 20%;
	}
	#word {
		font-size: 2rem;
	}
	.label {
		font-size: 2.1rem;
		height: 10%;
	}
	.circleButton {
		width: 1%;
	}
}

@media (max-aspect-ratio: 1.4/1) {
	#mainPanel,
	#wordPanel {
		width: 100%;
		aspect-ratio: 1/0.2;
		box-sizing: border-box;
	}
	#mainPanel {
		border-right-width: 0.1rem;
		border-bottom-width: 0;
		border-radius: 1.5rem 1.5rem 0 0;
	}
	.matchScoreContainer {
		width: 15%;
		height: 53%;
	}
	.matchTeamListContainer {
		width: 18%;
	}
	#mainInfoContainer {
		flex-direction: column;
		height: 40%;
	}
	#wordPanel {
		border-radius: 0 0 1.5rem 1.5rem;
	}
	#subInfoContainer {
		height: 52%;
	}
	.label {
		height: 14%;
	}
	#scorePanel, #hitMapPanel {
		height: 84%;
	}
	.circleButton {
		width: 1.1%;
	}
}

@media (max-aspect-ratio: 1.2/1) {
	.matchScoreContainer {
		height: 51%;
	}
	.matchTeamListContainer {
		width: 20%;
	}
	#word {
		font-size: 1.8rem;
	}
	.label {
		font-size: 2rem;
	}
	.circleButton {
		width: 1.2%;
	}
}

@media (max-aspect-ratio: 1/1) {
	body {
		overflow-x: hidden;
	}
	#app {
		height: auto;
	}
	#container {
		height: auto;
		padding: 10% 0;
	}
	.matchScoreContainer {
		width: 20%;
		height: 50%;
	}
	.matchTeamListContainer {
		width: 23%;
	}
	#wordTitle {
		height: 30%;
	}
	#word {
		height: 70%;
		font-size: 2rem;
	}
	#subInfoContainer {
		height: auto;
		flex-direction: column;
	}
	#scoreGraphContainer,
	#hitMapContainer {
		width: 100%;
		aspect-ratio: 1/0.73;
		margin-top: 8%;
	}
	.label {
		font-size: 2.4rem;
		height: 10%;
	}
	#scorePanel,
	#hitMapPanel {
		box-sizing: border-box;
		height: 88%;
	}
	.circleButton {
		width: 1.7%;
	}
	#hitMapPanel .paddleBall {
		width: auto;
		height: 3%;
		aspect-ratio: 1/1;
	}
	#hitMapPanel .scoreBall {
		width: auto;
		height: 3%;
		aspect-ratio: 1/1;
	}
}

@media (max-aspect-ratio: 1/1.2) {
	#word {
		font-size: 1.6rem;
	}
	.label {
		font-size: 2rem;
	}
	#mainPanel,
	#wordPanel {
		width: 100%;
		aspect-ratio: 1/0.22;
	}
	.circleButton {
		width: 2%;
	}
}

@media (max-aspect-ratio: 1/1.4) {
	#mainPanel {
		border-radius: 1rem 1rem 0 0;
	}
	#wordPanel {
		border-radius: 0 0 1rem 1rem;
	}
	#scorePanel, #hitMapPanel {
		border-radius: 1rem;
	}
	#wordTitle {
		height: 35%;
		font-size: 1rem ;
	}
	#word {
		height: 65%;
		font-size: 1.4rem;
	}
	.label {
		font-size: 1.8rem;
	}
	.circleButton {
		width: 2.2%;
	}
}

@media (max-aspect-ratio: 1/1.6) {
	.matchDate {
		font-size: 0.7rem;
	}
	.matchScoreContainer {
		width: 18%;
	}
	.scoreFrame {
		font-size: 1.2rem;
	}
	.matchTeamListContainer .vsFrame {
		font-size: 1rem;
	}
	.label {
		font-size: 1.6rem;
		height: 12%;
	}
	#scorePanel, #hitMapPanel {
		height: 86%;
	}
	.circleButton {
		width: 2.3%;
	}
}

@media (max-aspect-ratio: 1/2) {
	#app {
		height: 100%;
	}
	.scoreFrame {
		font-size: 1rem;
	}
	#wordTitle {
		height: 35%;
		font-size: 0.9rem ;
	}
	#word {
		height: 65%;
		font-size: 1.2rem;
	}
	.label {
		font-size: 1.5rem;
	}
	.circleButton {
		width: 2.6%;
	}
}