#app {
	background: linear-gradient(rgb(2, 6, 38), rgb(89, 49, 128));
}

#container {
	height: 65%;
	width: 26%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3%;
}

#avatarContainer {
	position: relative;
	height: 67%;
	aspect-ratio: 1/1;
}
#avatarImgFrame {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	border-radius: 15rem;
	border: 0.12rem solid white;
	box-sizing: border-box;
	background-color: rgb(1, 4, 37);
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
	overflow: hidden;
}
#avatarImg {
	width: 100%;
}
#avatarEditButton {
	position: absolute;
	bottom: 6%;
	right: 6%;
	width: 18%;
	height: 18%;
	background: url('../../images/avatarEdit.png') center/cover;
}

#nicknameContainer {
	height: 25%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#nicknameInput {
	width: 100%;
	height: 60%;
	box-sizing: border-box;
	border-radius: 10rem;
	background-color: transparent;
	border: 0.1rem solid white;
	padding: 0 8%;
	color: white;
	font-size: 2rem;
	text-align: center;
}
#warning {
	color: red;
	height: 20%;
	font-size: 1rem;
	padding-top: 5%;
	text-align: center;
	line-height: 1.5rem;
}

#completeButton {
	position: absolute;
	bottom: 7%;
	padding: 1% 6%;
}
#completeButton.generalButton:hover {
	background-color: rgb(213, 112, 255);
	border-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
}

@media (orientation: landscape) and (max-aspect-ratio: 1.7/1) {
	#container {
		width: 35%;
	}
}
@media (orientation: landscape) and (max-aspect-ratio: 1.4/1) {
	#container {
		width: 42%;
	}
}
@media (orientation: landscape) and (max-aspect-ratio: 1.2/1) {
	#container {
		width: 50%;
	}
}

@media (orientation: portrait) {
	#completeButton {
		bottom: 7%;
		padding: 2.5% 12%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1) {
	#container {
		height: 60%;
		width: 50%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.2) {
	#container {
		height: 55%;
		width: 55%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.4) {
	#container {
		height: 50%;
		width: 60%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.6) {
	#container {
		height: 45%;
		width: 65%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.8) {
	#container {
		height: 40%;
		width: 70%;
	}
}