#app {
	align-items: flex-end;
}

#container {
	height: 95%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#tabContainer {
	height: 9%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.tabButton {
	height: 90%;
	width: 24%;
	background-color: rgb(1, 4, 37);
	color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border: 0.14rem solid white;
	border-bottom: none;
	font-size: 2.2rem;
	font-weight: 700;
	box-sizing: border-box;
}
.tabButton:nth-of-type(1) {
	border-right-width: 0.07rem;
}
.tabButton:nth-of-type(2), .tabButton:nth-of-type(3) {
	border-left-width: 0.07rem;
	border-right-width: 0.07rem;
}
.tabButton:nth-of-type(4) {
	border-left-width: 0.07rem;
}
.tabButton:hover {
	cursor: pointer;
	background-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
	border-color: rgb(213, 112, 255);
	height: 100%;
	transition-property: background-color, color, height;
	transition-duration: 0.5s;
}
.selectedTabButton {
	background-color: rgb(213, 112, 255);
	color: rgb(1, 4, 37);
	border-color: rgb(213, 112, 255);
	height: 100%;
}

#contentContainer {
	width: 100%;
	height: 91%;
	background-color: rgb(1, 4, 37);
	border: 0.14rem solid white;
	border-bottom: none;
	border-radius: 1.5rem 1.5rem 0 0;
	box-sizing: border-box;
}

#innerContentContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#searchContainer.visible {
	width: 93%;
	height: 18%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
#clientSearchInput {
	height: 65%;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3rem;
	background-color: rgb(1, 4, 37);
	border: 0.1rem solid white;
	padding: 0 5%;
	color: white;
	font-size: 1.7rem;
}
#clientSearchInput::placeholder {
	color: rgb(129, 119, 151);
	font-size: 1.4rem;
}

.clientListContainer {
	width: 96%;
	height: 100%;
	align-self: flex-end;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-right: 1%;
	margin-top: 3%;
	box-sizing: border-box;
	padding-right: 1%;
	overflow-y: scroll;
}
.clientListContainer::-webkit-scrollbar {
	width: 1rem;
}
.clientListContainer.scrollbar-scrolltrack::-webkit-scrollbar-track {
	background-color: rgb(213, 112, 255);
	border-radius: 1rem;
}
.clientListContainer.transparent-scrolltrack::-webkit-scrollbar-track {
	background-color: transparent;
}
.clientListContainer::-webkit-scrollbar-thumb {
	background-color: rgb(213, 112, 255);
	border-radius: 1rem;
}
.clientListContainer::-webkit-scrollbar-button {
	display: none;
}

.clientItem {
	height: 6rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.2%;
	padding: 1% 3%;
	box-sizing: border-box;
	background-color: rgb(1, 4, 37);
	border-radius: 1.8rem;
	border: 0.14rem solid white;
	color: white;
}

.avatarImgFrame {
	height: 100%;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	border-radius: 3rem;
	border: 0.12rem solid white;
	box-sizing: border-box;
	overflow: hidden;
}
.avatarImg {
	width: 100%;
}

.nickname {
	width: 25%;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.buttonGroup {
	width: 30%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.clientManagementButton {
	height: 100%;
	width: 47%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}
.clientManagementButton:hover {
	cursor: pointer;
}
.clientManagementButton.disabledButton:hover {
	cursor: default;
}

#app::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12%;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media (orientation: landscape) and (max-aspect-ratio: 1.5/1) {
	.tabButton {
		font-size: 2rem;
	}
	#searchContainer.visible {
		height: 16%;
	}
	#clientSearchInput {
		height: 68%;
	}
	.clientItem {
		margin-bottom: 1.6%;
		padding: 1.5% 3%;
	}
}
@media (orientation: landscape) and (max-aspect-ratio: 1.2/1) {
	.tabButton {
		font-size: 1.8rem;
	}
	#container {
		width: 80%;
	}
	.clientListContainer::-webkit-scrollbar {
		width: 0.8rem;
	}
	.clientItem {
		margin-bottom: 1.8%;
	}
}

@media (orientation: portrait) {
	#container {
		width: 85%;
	}
	#tabContainer {
		height: 8%;
	}
	.tabButton {
		font-size: 1.8rem;
	}
	#contentContainer {
		height: 92%;
	}
	#searchContainer.visible {
		height: 15%;
	}
	#clientSearchInput {
		height: 68%;
	}
	.clientListContainer {
		margin-top: 4%;
	}
	.clientListContainer::-webkit-scrollbar {
		width: 0.7rem;
	}
	.clientItem {
		margin-bottom: 1.6%;
		padding: 1.5% 3%;
	}
	.nickname {
		width: 32%;
		font-size: 1.6rem;
	}
	.buttonGroup {
		height: 65%;
		width: 40%;
	}
	.clientManagementButton {
		font-size: 1.15rem;
	}
}

@media (orientation: portrait) and (max-aspect-ratio: 1/1.15) {
	.tabButton {
		font-size: 1.6rem;
	}
	#searchContainer.visible {
		height: 14%;
	}
	.clientListContainer::-webkit-scrollbar {
		width: 0.6rem;
	}
	.clientItem {
		height: 5.5rem;
		margin-bottom: 1.9%;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.3) {
	.tabButton {
		font-size: 1.4rem;
	}
	.clientItem {
		padding: 2% 3%;
	}
	.nickname {
		font-size: 1.4rem;
	}
	.clientManagementButton {
		font-size: 1rem;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.5) {
	#container {
		height: 97%;
		width: 90%;
	}
	#tabContainer {
		height: 6.5%;
	}
	#contentContainer {
		height: 93.5%;
	}
	.tabButton {
		font-size: 1.2rem;
	}
	#searchContainer.visible {
		height: 12%;
	}
	#clientSearchInput {
		font-size: 1.4rem;
	}
	#clientSearchInput::placeholder {
		font-size: 1.2rem;
	}
	.clientListContainer {
		margin-top: 5%;
	}
	.clientItem {
		height: 5rem;
	}
	.nickname {
		font-size: 1.2rem;
	}
	.clientManagementButton {
		font-size: 1rem;
	}
}
@media (orientation: portrait) and (max-aspect-ratio: 1/1.8) {
	#tabContainer {
		height: 6%;
	}
	#contentContainer {
		height: 94%;
	}
	.tabButton {
		font-size: 1rem;
	}
	#searchContainer.visible {
		height: 10%;
	}
	#clientSearchInput {
		font-size: 1.2rem;
	}
	#clientSearchInput::placeholder {
		font-size: 1.1rem;
	}
	.clientItem {
		height: 4.5rem;
		margin-bottom: 2.4%;
		padding: 2.5% 3%;
	}
	.nickname {
		font-size: 1.1rem;
	}
	.clientManagementButton {
		font-size: 0.8rem;
	}
}