.chatButton {
	width: 5vw;
	height: 5vw;
	position: absolute;
	bottom: 1.5vw;
	left: 1.5vw;
	background: url('../../images/chattingIcon.png') center/cover;
	z-index: 100;
}

.visible{
	visibility: visible;	
}

.inVisible{
	visibility: hidden;	
}

.chatButton:hover {
	cursor: pointer;
}

.totalUnreadCount, .unreadCount {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 10rem;
	background-color: rgb(255, 37, 0);
	color: white;
}
.totalUnreadCount {
	top: 6%;
	right: -5%;
	height: 25%;
	min-width: 25%;
	padding: 0 6%;
}
.unreadCount {
	top: 5%;
	right: 3%;
	height: 20%;
	min-width: 10%;
	padding: 0 2%;
}

/* @media (orientation: portrait) {
	.chatButton {
		bottom: 2%;
		left: 3%;
        width: 4vh;
        height: 4vh;
	}
} */

.chatContainer {
	position: absolute;
	width: 36vw;
	height: 26vw;
	bottom: 7vw;
	left: 6vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.FriendListContainer {
	border: 0.14rem solid white;
	height: 100%;
	width: 47.5%;
	border-radius: 2rem;
}

.messageBoxContainer {
	border: 0.14rem solid white;
	height: 100%;
	width: 47.5%;
	border-radius: 2rem;
	background: linear-gradient(to bottom, #020626, #2c1b51 49%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.messageListContainer {
	height: 83%;
	width: 90%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	font-weight: 650;
}

.messageListContainer::-webkit-scrollbar {
	display: none;
}

.messageBubble {
	border-radius: 20px;
	padding: 3% 6%;
	margin: 3% 0%;
	max-width: 70%;
	color: black;
	line-height: 1.4rem;
}

.messageBubble.rightSender {
	background-color: #d570ff;
	align-self: flex-end;
}

.messageBubble.leftSender {
	background-color: white;
	align-self: flex-start;
}

.messageInputContainer {
	border: 0.14rem solid white;
	border-radius: 2rem;
	height: 9%;
	width: 90%;
	margin-bottom: 4%;
	background-color: #020626;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.disabledMessageInputContainer {
	border: none;
	background-color: rgb(190, 190, 190);
	color: rgb(130, 130, 130);
}

.inputBox {
	width: 100%;
	margin-right: 5%;
	margin-left: 5%;
	height: 80%;
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
	font-size: 1rem;
}

.inputButton {
	height: 55%;
	aspect-ratio: 1;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sendImage {
	height: 100%;
	width: 100%;
}

/* .noFriendContainer {
	position: absolute;
	width: 18vw;
	height: 26vw;
	bottom: 7vw;
	left: 6vw;
	display: flex;
	flex-direction: column;
	border: 0.14rem solid white;
}

.noFriendImageContainer {
	width: 100%;
	height: 80%;
	background: url('../../images/noFriendVampire2.webp') center/cover;
}

.noFriendTextContainer {
	width: 100%;
	height: 20%;
}

*/

.noFriendContainer {
    position: absolute;
    width: 18vw;
    height: 26vw;
    bottom: 7vw;
    left: 6vw;
	border-radius: 2rem;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    border: 0.14rem solid white;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.disabledMessageInputContainer .inputButton {
	display: none;
}

.noFriendTitleContainer {
    width: 100%;
    height: 12%;
	border-radius: 2rem;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    /* background-color: #e0e0e0; */
}

.noFriendImageContainer {
    width: 90%;
    height: 70%;
	border-radius: 2rem;
    background: url('../../images/noFriendVampire2.webp') center/cover;
    border-bottom: 0.14rem solid white;
}

.noFriendTextContainer {
    width: 100%;
    height: 18%;
	border-radius: 2rem;
    font-size: 1vw;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	line-height: 1.3;
}
