.matchLog{
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.matchDate{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 1.1rem;
    font-weight: 200;
    color: white;
    opacity: 60%;
}

.matchScoreContainer{
    width: 17%;
    height: 48%;
    display: flex;
    margin-top: 1.5%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.matchResultImage{
    width: 100%;
}

.scoreFrame{
    width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-size: 1.6rem;
    font-weight: 200;
}

.matchTeamListContainer{
    width: 22%;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.matchTeamContainer{
    width: 32%;
    display: flex;
    aspect-ratio: 1;
    position: relative;
}

.matchVampireTeamImage{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 0px 20px #ff2500CC);
}

.matchHumanTeamImage{
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    filter: drop-shadow(0px 0px 20px #4092f6CC);
}

.leftAbilityImage{
    position: absolute;
    right: 115%;
    bottom: 5%;
    border: 0.08rem solid white;
    width: 45%;
    aspect-ratio: 1;
    border-radius: 0.4rem;
    overflow: hidden;
}

.rightAbilityImage {
    position: absolute;
    left: 115%;
    bottom: 5%;
    border: 0.08rem solid white;
    width: 45%;
    aspect-ratio: 1;
    border-radius: 0.4rem;
    overflow: hidden;
}

.vsFrame{
    width: 30%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
}

.matchPlayerListContainer{
    width: 30%;
    height: 90%;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.teamPlayerListContainer{
    width: 45%;
    height: 100%;
    display: flex;
	flex-direction: column;
    justify-content: space-evenly;
	align-items: center;
}

.playerContainer{
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
	z-index: 100;
}


.existPlayer:hover {
    cursor: pointer;
    background-color: #e0e0e080;
	transition: background-color 0.3s ease;
}

.playerAvatarImgFrame{
	height: 100%;
	aspect-ratio: 1/1;
	overflow: hidden;
    background: linear-gradient(to bottom, #291350 0%, #02041F 100%);
}

.playerAvatarImg{
    width: 100%;
	height: 100%;
	object-fit: cover;
    z-index: 100;
}

.noAvatarRed{
    width: 100%;
    height: 100%;
    position: relative;
}

.noAvatarRed::before, .noAvatarRed::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 240%; 
    height: 0.01rem;
    background-color: #ff2500;
}


.noAvatarRed::before {
    transform: translate(-50%, -50%) rotate(45deg); 
}

.noAvatarRed::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.noAvatarBlue{
    width: 100%;
    height: 100%;
    position: relative;
}


.noAvatarBlue::before, .noAvatarBlue::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 240%; 
    height: 0.01rem;
    background-color: #4092f6;
}


.noAvatarBlue::before {
    transform: translate(-50%, -50%) rotate(45deg); 
}

.noAvatarBlue::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.redBorder{
    border: 0.05rem solid #ff2500CC;
    border-radius: 0.3rem;
}

.blueBorder{
    border: 0.05rem solid #4092f6CC;
    border-radius: 0.3rem;
}

.playerNickname {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* 오버플로우 설정 */
}

.playerNickname span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1; /* 기본값은 1이므로 아이템이 줄어들 수 있게 설정 */
    min-width: 0; /* 축소할 수 있는 최소 너비를 설정하여 ellipsis가 동작하도록 함 */
}

@media (max-aspect-ratio: 1/1.4) {
    .matchDate {
		font-size: 0.9rem;
	}
	.scoreFrame {
		font-size: 1.4rem;
	}
	.matchTeamListContainer {
		width: 24%;
	}
    .vsFrame {
        font-size: 1rem;
    }
}

@media (max-aspect-ratio: 1/1.8) {
    .matchScoreContainer {
        height: 40%;
    }
	.scoreFrame {
		font-size: 1rem;
	}
    .matchPlayerListContainer {
        width: 35%;
    }
    .playerNickname span {
        font-size: 0.7rem;
    }
    .vsFrame {
        font-size: 0.8rem;
    }
}